@import "tailwindcss";

:root {
  --background-color: #000000;
  --primary-color: #fafaf8;
  --accent-color: #e42421;
  --border-color: #2c2c2c;
}

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary: var(--primary-color);
  --color-background: var(--background-color);
  --color-accent: var(--accent-color);
  --color-border: var(--border-color);
}

html,
body {
  @apply bg-background text-primary;
  box-sizing: border-box;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
  font-family: Outfit;
  scroll-behavior: smooth;
  user-select: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes animatecard {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
